<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="cn.itsource.crm.mapper.BorrowUserMapper">

  <insert id="insert" parameterType="borrowuser">
    INSERT INTO t_borrowUser(
        userName,
        borrow_id,
        tel,
        idNumber,
        dicdetail_id
      ) VALUES (
        #{userName},
        #{borrow_id},
        #{tel},
        #{idNumber},
        #{dicdetail_id}
      )
  </insert>


    <select id="selectByName" resultType="cn.itsource.crm.domain.BorrowUser">
      SELECT * FROM t_borrowUser WHERE userName = #{userName}
    </select>

</mapper>